// Layout variables partial

$section-padding: 40px 0;

section.intro-annie, section.stories, section.rsvp {
	background: $section-dark;
}
section.intro-schwannden, section.pictures {
	background: $section-light;
}